{
  "!(.storybook)/**/*.js": ["eslint --fix --max-warnings 0", "prettier --write"],
  ".storybook/**/*.js": ["prettier --write"],
  "!(.storybook|e2e)/**/*.ts": ["eslint --fix --max-warnings 0", "prettier --write"],
  ".storybook/**/*.ts": ["prettier --write"],
  "!(.storybook)/**/*.tsx": ["eslint --fix --max-warnings 0", "prettier --write"],
  ".storybook/**/*.tsx": ["prettier --write"]
}
