<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
  <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
  <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <permission android:name="${applicationId}.permission.C2D_MESSAGE" android:protectionLevel="signature" />
  <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
<!-- 
  <uses-permission android:name="android.permission.health.READ_STEPS" />
  <uses-permission android:name="android.permission.health.READ_ACTIVE_CALORIES_BURNED" />
  <uses-permission android:name="android.permission.health.READ_EXERCISE" />
  <uses-permission android:name="android.permission.health.READ_DISTANCE" />
 -->
  <uses-sdk tools:overrideLibrary="androidx.health.connect.client" />
  <queries>
    <package android:name="com.sec.android.app.shealth" />
    <package android:name="com.google.android.apps.healthdata" />
  </queries>
  <application android:name=".MainApplication" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" android:allowBackup="false" android:theme="@style/AppTheme" android:largeHeap="true" android:usesCleartextTraffic="true" android:requestLegacyExternalStorage="true">
    <meta-data android:name="com.samsung.android.health.permission.read" android:value="com.samsung.health.step_count;com.samsung.shealth.step_daily_trend" />
    <activity android:name=".MainActivity" android:exported="true" android:label="@string/app_name" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode" android:launchMode="singleInstance" android:windowSoftInputMode="adjustResize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter android:label="${deepLinkAppName}">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="yulifeapp" android:host="yulife" />
      </intent-filter>
      <intent-filter>
        <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" />
      </intent-filter>

    </activity>
    <activity
        android:name=".PermissionsRationaleActivity"
        android:exported="true">
      <intent-filter>
        <action android:name="androidx.activity.result.contract.action.REQUEST_PERMISSIONS" />
      </intent-filter>
    </activity>
    <activity-alias
        android:name="ViewPermissionUsageActivity"
        android:exported="true"
        android:targetActivity=".PermissionsRationaleActivity"
        android:permission="android.permission.START_VIEW_PERMISSION_USAGE">
      <intent-filter>
        <action android:name="android.intent.action.VIEW_PERMISSION_USAGE" />
        <category android:name="android.intent.category.HEALTH_PERMISSIONS" />
      </intent-filter>
    </activity-alias>
    <meta-data android:name="com.mixpanel.android.MPConfig.ResourcePackageName" android:value="com.yulife" />
    <meta-data android:name="com.mixpanel.android.MPConfig.AutoShowMixpanelUpdates" android:value="false" />
    <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@drawable/notification_icon"/>
    <meta-data android:name="com.google.firebase.messaging.default_notification_color" android:resource="@color/notification_icon_color" tools:replace="android:resource"/>
    <meta-data android:name="com.google.firebase.messaging.default_notification_channel_id" android:value="YULIFE_PUSH_NOTIFICATION_CHANNEL"/>
    <!-- Expo-notifications -->
    <meta-data android:name="expo.modules.notifications.default_notification_icon" android:resource="@drawable/notification_icon"/>
    <meta-data android:name="expo.modules.notifications.default_notification_color" android:resource="@color/notification_icon_color"/>
    <!-- Bugsnag -->
    <meta-data android:name="com.bugsnag.android.API_KEY" android:value="${BUGSNAG_API_KEY}" />
    <meta-data android:name="com.bugsnag.android.APP_VERSION" android:value="@string/app_version" />
    <meta-data android:name="com.bugsnag.android.RELEASE_STAGE" android:value="${ENV}" />
    <meta-data android:name="com.bugsnag.android.REDACTED_KEYS" android:value="password,email" />
    <meta-data android:name="com.google.android.gms.wallet.api.enabled" android:value="true" />
    <!-- Firebase-->
    <!-- Disable the default Leanplum FCM message handling service -->
    <service android:name="com.leanplum.LeanplumPushFirebaseMessagingService" android:enabled="false" tools:replace="android:enabled" />
    <!-- Add your custom FCM message handling service -->
    <service android:name=".YulifeFirebaseMessaggingService" android:enabled="true" android:exported="false">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT" />
      </intent-filter>
    </service>
    <receiver android:name="com.intercom.reactnative.RNIntercomPushBroadcastReceiver"
      tools:replace="android:exported" android:exported="true" />
  </application>
</manifest>