{
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "printWidth": 100,
        "proseWrap": "never"
      }
    },
    {
      "files": "*.spec.ts",
      "options": {
        "printWidth": 300,
        "proseWrap": "never"
      }
    }
  ]
}
