<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>LotaLight.ttf</string>
		<string>LotaBold.ttf</string>
		<string>LotaRegular.ttf</string>
		<string>LotaRegularItalic.ttf</string>
		<string>LotaSemibold.ttf</string>
	</array>
	<key>NSMotionUsageDescription</key>
	<string>We use your motion usage data so we can verify that you have completed challenges.</string>
   <key>NSHealthShareUsageDescription</key>
	<string>We use your step data so we can verify you have completed challenges.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Need the ability to write your step data so we can update completed challenges</string>
</dict>
</plist>
